<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connection" connectionString="Data Source=DESKTOP-BLI3H6B;Initial Catalog=Falcon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Falcon.Properties.Settings.FalconConnectionString"
            connectionString="Data Source=DESKTOP-BLI3H6B;Initial Catalog=Falcon;User ID=adri;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Falcon.Properties.Settings.FalconConnectionString1"
            connectionString="Data Source=DESKTOP-BLI3H6B;Initial Catalog=Falcon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>